#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.launchList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.launchCard {
  border: 5px;
  border-radius: 5px;
  padding: 15px;
  background-color:dimgray;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}
